/* <i class="bx bx-hot"></i> */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #ff702a;
  --text-color: #ffffff;
  --bg-color: #1e1c2a;
  --big-fonts: 5rem;
  --h2-fonts: 2.25rem;
  --p-fonts: 0.9rem;
}

body {
  background-color: var(--bg-color);
}



/* Header Bar CSS start */

#navbar-container{
  width: 100%;
   position: sticky;
   top: 0px;
   box-shadow: 1px 1px 5px rgb(27, 26, 26);
   background-color: var(--bg-color);
}

header{
  background-color: var(--bg-color);
  width: 85%;
  height: 80px;
  display: flex;
  align-items: center;
  margin: auto;
}

.logo-container{
  flex-grow: 2;
}

.logo-text{
  margin-left: 24px;
  color: var(--main-color);
  font-size: var(--h2-fonts);
  font-weight: 600;
}

.nav-container{
  flex-grow: 1;
}

.nav-container ul{
  display: flex;
  justify-content: flex-end;
}

.nav-container ul li{
  margin-right: 24px;
}

.nav-link-item{
  color: var(--text-color);
  font-size: var(--p-fonts);
}

.nav-link-item:hover{
  color: var(--main-color);
  font-weight: 600;
}

/* Nav Bar Css Start*/

#side-bar-icon{
  font-size: 30px;
  color: var(--text-color);
  display: none;
}

/* Nav Bar Css End*/


/* Header Bar CSS end */

/* Main Body CSS Start */

.body-container{
  width: 100%;
  height: auto;
}

main{
  width: 70%;
  height: auto;
  margin: 0px auto;
}

/* Main Body CSS End here */

/* Banner Section css start */

.banner-section-container{
  width: 100%;
  height: 400px;
  display: flex;
}

.ban-sec-left-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: 20px; */
}

.ban-sec-left-con h2{
  font-size: var(--h2-fonts);
  color: var(--main-color);
}

.ban-sec-left-con span{
  font-size: var(--p-fonts);
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: var(--text-color);
}

.btm-span{
  margin-bottom: 10px;
}

.ban-sec-left-con button{
  background-color: var(--main-color);
  border: 0px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 5px 10px;
  color: var(--text-color);
}

.ban-sec-left-con button:hover{
  padding: 7px 12px;
  box-shadow:1px 1px 5px #ff702a;
}

.ban-sec-right-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-image: url(./assets/img/home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Banner Section css end */

/* About Us Section Start */

.aboutus-section-container{
  width: 100%;
  height: 300px;
  margin: 60px 0px;
  display: flex;
}

.aboutus-sec-left-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-image: url(./assets/img/about.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: start;
}

.aboutus-sec-right-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.aboutus-sec-right-con span{
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.btm-span1{
  margin-bottom: 5px;
}

.aboutus-sec-right-con p{
  font-size: 0.7rem;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

#about-text{
  color: var(--main-color);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: var(--p-fonts);
}

.aboutus-sec-right-con button{
  font-size: 0.7rem;
  padding: 5px 10px;
  background-color: var(--main-color);
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.aboutus-sec-right-con button:hover{
  padding: 7px 12px;
  box-shadow:1px 1px 5px #ff702a;
}

/* About Us Section End */

/* Footer Section Start */

#footer-container{
  width: 100%;
  height: 250px;
  margin-top: 40px;
}

footer{
  width: 70%;
  height: 100%;
  margin: 0px auto;
  display: flex;
}

footer div{
  width: 100%;
  height: 100%;
}

.list{
  display: flex;
  flex-direction: column;
}

.list ul li{
  margin-top: 10px;
}

.list h4{
  color: var(--text-color);
  margin-bottom: 5px;
}

.list-item{
  color: rgb(194, 194, 205);
  font-size: var(--p-fonts);
}

.list-item:hover{
  color: var(--main-color);
  font-weight: 600;
}

.end-list h4{
  color: var(--text-color);
}

.icon-con{
  width: 100%;
  display: flex;
}

.end-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.end-list ul{
  display: flex;
  margin-top: 10px;
}

.end-list ul li{
  width: 30px;
  height: 30px;
  margin-right: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
}

#icon1 {
  color: var(--text-color);
  font-size: 15px;
}

#icon2 {
  color: var(--text-color);
  font-size: 15px;
}

#icon3 {
  color: var(--text-color);
  font-size: 15px;
}

#icon4 {
  color: var(--text-color);
  font-size: 15px;
}

/* Footer Section End */

/* Food Menu container start */

#food-menu{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#food-menu p{
  font-size: var(--p-fonts);
  font-weight: 600;
  color: var(--main-color);
}

#food-menu h2{
  color: var(--text-color);
}

.food-menu-card{
  width: 100%;
  height: 70%;
  display: flex;
}

/* Food Menu container start */

/* Food Card Start */

#food-card{
  margin: 10px;
  width: 90%;
  height: 90%;
  background-color: #fae6dc;
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#food-card #card-title{
  color: black;
  font-weight: 600;
}

#food-card #card-disc{
  color: rgb(53, 53, 54);
  font-size: 0.8rem;
}

#food-card #card-price{
  font-size: 0.7rem;
}

/* Food Card End */


/* Lets  Talk Start */

#letstalk-container{
  width: 100%;
  height: 200px;
  background-color: #fae6dc;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#letstalk-container button{
  background-color: var(--main-color);
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 10px;
}

#letstalk-container button:hover{
  padding: 7px 12px;
  box-shadow:1px 1px 5px #ff702a;
}

/* Lets  Talk End */

/* Over Services start */

#over-services-container{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

#over-services-container p {
  font-size: var(--p-fonts);
  font-weight: 600;
  color: var(--main-color);
}

#over-services-container h2{
  color: var(--text-color);
}

.service-card-con{
  width: 100%;
  min-height: 150px;
  /* background-color: #ff702a; */
  display: flex;
}

#service-card{
  width: 70%;
  height: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#service-card #scard-title{
  font-size: var(--p-fonts);
  font-weight: 600;
}

#service-card #scard-disc{
  font-size: 0.7rem;
  text-align: center;
  color: var(--text-color);
}

/* Over Services end */

/* Copyright start */

#copyright-con{
  width: 100%;
  height: 30px;
  background-color: #fae6dc;
}

#copyright-con p{
  text-align: center;
  color: var(--bg-color);
  font-size: var(--p-fonts);
  font-weight: 600;
  line-height: 30px;
}

/* Copyright end */

/* media query for 640px <= width */

@media screen and (max-width: 640px){

  header{
    width: 100%;
    height: 60px;
  }

  main{
    width: 100%;
  }

  footer{
    width: 100%;
    flex-direction: column;
  }

  #letstalk-container{
    height: 150px;
    border-radius: 0px;
    margin-bottom: 10px;
  }

  .nav-container{
    display: none;
  }

  .logo-text{
    font-size: 1.5rem;
  }

  #food-menu{
    height: auto;
  }

  #food-card{
    width: 70%;
  }

  .food-menu-card{
    flex-direction: column;
    align-items: center;
  }

  #food-menu h2{
    text-align: center;
    width: 70%;
  }

  #over-services-container{
    height: auto;
  }

  #over-services-container h2{
    width: 70%;
    text-align: center;
  }

  .aboutus-section-container{
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
  }


  .aboutus-sec-left-con{
    height: 300px;
    width: 100%;
    background-position: center;
  }

  .aboutus-sec-right-con{
    width: 70%;
    align-items: center;
  }

  .aboutus-sec-right-con p{
    text-align: center;
  }
  
  /* .aboutus-sec-right-con button{
    width: 100%;
  } */

  .banner-section-container{
    height: auto;
    flex-direction: column-reverse;
    align-self: center;
    align-items: center;
  }
  .ban-sec-left-con{
    width: 70%;
    align-items: center;
  }

  .ban-sec-left-con h2{
    text-align: center;
  }

  .ban-sec-right-con{
    width: 100%;
    height: 300px;
  }

  /* .ban-sec-left-con button{
    width: 100%;
  } */

  .ban-sec-left-con h2{
    font-size: 1.5rem;
  }

  #footer-container{
    height: auto;
    margin-bottom: 50px;
  }
  
  .list{
    align-items: center;
    margin-bottom: 10px;
  }

  .list ul li{
    text-align: center;
    margin-top: 3px;
  }

  .end-list{
    margin-bottom: 10px;
    align-items: center;
  }

  .end-list hr{
    text-align: center;
  }
  
  .end-list h4{
    text-align: center;
  }

  .end-list ul{
    justify-content: center;
  }

  #copyright-con{
    height: 20px;
  }

  #copyright-con p{
    font-size: 0.6rem;
    line-height: 20px;
  }

  #side-bar-icon{
    display: block;
    margin-right: 30px;
  }

  #side-bar-icon:hover {
    color: var(--main-color);
    font-size: 35px;
  }

  
  .service-card-con{
    flex-direction: column;
    align-items: center;
  }

  #scard-img{
    width: 80px;
    height: 80px;
  }

}