/* <i class="bx bx-hot"></i> */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #ff702a;
  --text-color: #ffffff;
  --bg-color: #1e1c2a;
  --big-fonts: 5rem;
  --h2-fonts: 2.25rem;
  --p-fonts: 0.9rem;
}

body {
  background-color: var(--bg-color);
}

/* Header Bar CSS start */

#navbar-container{
  width: 100%;
   position: sticky;
   top: 0px;
   box-shadow: 1px 1px 5px rgb(27, 26, 26);
}

header{
  background-color: var(--bg-color);
  width: 85%;
  height: 80px;
  display: flex;
  align-items: center;
  margin: auto;
}

.logo-container{
  flex-grow: 2;
}

.logo-text{
  margin-left: 24px;
  color: var(--main-color);
  font-size: var(--h2-fonts);
  font-weight: 600;
}

.nav-container{
  flex-grow: 1;
}

.nav-container ul{
  display: flex;
  justify-content: flex-end;
}

.nav-container ul li{
  margin-right: 24px;
}

.nav-link-item{
  color: var(--text-color);
  font-size: var(--p-fonts);
}

.nav-link-item:hover{
  color: var(--main-color);
  font-weight: 600;
}

/* Header Bar CSS end */

/* Main Body CSS Start */

.body-container{
  width: 100%;
}

main{
  width: 70%;
  min-height: 90vh;
  margin: 0px auto;
}

/* Main Body CSS End here */

/* Banner Section css start */

.banner-section-container{
  width: 100%;
  height: 400px;
  display: flex;
}

.ban-sec-left-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: 20px; */
}

.ban-sec-left-con h2{
  font-size: var(--h2-fonts);
  color: var(--main-color);
}

.ban-sec-left-con p{
  font-size: var(--p-fonts);
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 20px;
}

.ban-sec-left-con button{
  background-color: var(--main-color);
  border: 0px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 5px 10px;
  color: var(--text-color);
}

.ban-sec-right-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-image: url(./assets/img/home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color);
}

/* Banner Section css end */

/* About Us Section Start */

.aboutus-section-container{
  width: 100%;
  height: 300px;
  margin: 60px 0px;
  display: flex;
}

.aboutus-sec-left-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-image: url(./assets/img/about.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: start;
}

.aboutus-sec-right-con{
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.aboutus-sec-right-con h3{
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 8px;
}

.aboutus-sec-right-con p{
  font-size: 0.7rem;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

#about-text{
  color: var(--main-color);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.aboutus-sec-right-con button{
  font-size: 0.7rem;
  padding: 5px 10px;
  background-color: var(--main-color);
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
}

/* About Us Section End */

/* Footer Section Start */

#footer-container{
  width: 100%;
  height: 250px;
}

footer{
  width: 70%;
  height: 100%;
  margin: 0px auto;
  display: flex;
}

footer div{
  width: 100%;
  height: 100%;
}

.list{
  display: flex;
  flex-direction: column;
}

.list ul li{
  margin-top: 10px;
}

.list h4{
  color: var(--text-color);
  margin-bottom: 5px;
}

.list-item{
  color: rgb(194, 194, 205);
  font-size: var(--p-fonts);
}

.list-item:hover{
  color: var(--main-color);
  font-weight: 600;
}

.end-list h4{
  color: var(--text-color);
  margin-bottom: 5px;
}

.icon-con{
  width: 100%;
  display: flex;
}

.end-list ul{
  display: flex;
  margin-top: 10px;
}

.end-list ul li{
  width: 30px;
  height: 30px;
  margin-right: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
}

#icon1 {
  color: var(--text-color);
  font-size: 15px;
}

#icon2 {
  color: var(--text-color);
  font-size: 15px;
}

#icon3 {
  color: var(--text-color);
  font-size: 15px;
}

#icon4 {
  color: var(--text-color);
  font-size: 15px;
}

/* Footer Section End */

/* Food Menu container start */

#food-menu{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#food-menu p{
  font-size: var(--p-fonts);
  font-weight: 600;
  color: var(--main-color);
}

#food-menu h2{
  color: var(--text-color);
}

.food-menu-card{
  width: 100%;
  height: 70%;
  display: flex;
}

/* Food Menu container start */

/* Food Card Start */

#food-card{
  margin: 10px;
  width: 90%;
  height: 90%;
  background-color: #fae6dc;
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#food-card #card-title{
  color: black;
  font-weight: 600;
}

#food-card #card-disc{
  color: rgb(53, 53, 54);
  font-size: 0.8rem;
}

#food-card #card-price{
  font-size: 0.7rem;
}

/* Food Card End */


/* Lets  Talk Start */

#letstalk-container{
  width: 100%;
  height: 200px;
  background-color: #fae6dc;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#letstalk-container button{
  background-color: var(--main-color);
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 10px;
}

/* Lets  Talk End */

/* Over Services start */

#over-services-container{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#over-services-container p {
  font-size: var(--p-fonts);
  font-weight: 600;
  color: var(--main-color);
}

#over-services-container h2{
  color: var(--text-color);
}

.service-card-con{
  width: 100%;
  height: 150px;
  /* background-color: #ff702a; */
  display: flex;
}

#service-card{
  width: 70%;
  height: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#service-card #scard-title{
  font-size: var(--p-fonts);
  font-weight: 600;
}

#service-card #scard-disc{
  font-size: 0.7rem;
  text-align: center;
  color: var(--text-color);
}

/* Over Services end */

/* Copyright start */

#copyright-con{
  width: 100%;
  height: 30px;
  background-color: #fae6dc;
}

#copyright-con p{
  text-align: center;
  color: var(--bg-color);
  font-size: var(--p-fonts);
  font-weight: 600;
  line-height: 30px;
}

/* Copyright end */